/* index.html 的样式 */


/* header 开始 */
#header{
    height: 32px;
    background: #f2f2f2;
    /*background: #cccccc; 注释*/
    font-size: 12px;
    line-height: 32px; /* 单行文字垂直居中：行高=高度 */
    border-bottom: 1px solid #e5e5e5;
}

#login-info{
    float: left;
}

#quick-menu{
    float: right;
}

#quick-menu .menu{
    float: left;
    /*background: #222;*/
    position: relative;
    padding: 0 14px;
    height: 33px;
}

#header a, #login-info span{
    color: #999;
}

#header a{
    /*padding: 0 14px;*/
}



#header a:hover{
    color: #FF0036;
}

#header .triangle::after{
    content: '';
    border-width: 3px;
    border-style: solid;
    border-top-color: #bbb;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 0;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -2px;

    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    transform-origin: 3px 1.5px;
}

#header .icon-gouwuchekong,.icon-shouji,.icon-daohang{
    font-size: 12px;
    color: #FF0036;
}

#login-info .register{
    padding: 0;
}

#header .triangle:hover::after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}

#header .triangle{
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px 0 1px;
}

#header .triangle:hover{
    background-color: #fff;
    border-color: #e5e5e5;
    cursor: pointer;
}

#header .triangle:hover > a{
    text-decoration: underline;
    color: #FF0036;
}

#header .triangle:hover .submenu{
    display: block;
}

#quick-menu .submenu a:hover{
    text-decoration: underline;
}

#quick-menu .submenu{
    position: absolute;
    top: 32px;
    left: -1px;
    width: 80px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0 1px 1px 1px;
    padding: 0 14px;
    display: none;
    background: #fff;

}

#quick-menu .split{
    width: 1px;
    height: 14px;
    background: #ccc;
    padding: 0;
    margin: 9px 5px;
}

#quick-menu .qr-code{
    width: 175px;
    height: 227px;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 28px;
    left: -58px;
    background: #fff;
    box-shadow: 0 0 5px #aaa;
    display: none;
}

#quick-menu .qr-code::after{
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 85px;
}

#quick-menu .mobile:hover .qr-code{
    display: block;
}

#header .triangle .submenu2{
    position: absolute;
    top: 32px;
    left: -167.5px;
    width: 220px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0 1px 1px 1px;
    padding: 0 14px;
    display: none;
    background: #fff;
}

#header .triangle:hover .submenu2{
    display: block;
}
#header .triangle .submenu2 a{
    margin: 20px;
}

#header .triangle .submenu3{
    position: absolute;
    top: 32px;
    left: -1156.7px;
    width: 1230px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0 1px 1px 1px;
    padding: 0 14px;
    display: none;
    background: #fff;
}
#header .triangle:hover .submenu3{
    display: block;
}

#header .nav-all{
    margin:0px 0px 0px 20px;
    width: 1230px;
    height: 220px;
}
#header .nav-all a{
    margin:0px 15px 0px 0px;
}
#header .tag{
    margin-bottom:10px;
}
#header .nav-1{
    width:30%;
    height: 140px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    border-right: 1px solid #cccccc;
}

#header .nav-2{
    width:30%;
    height:180px;
    float: right;
    margin-top: 40px;
    margin-left: 20px;
}


/* header 结束 */

/*seach-logo开始*/
#logo-seach{
    height: 130px;
    width: 100%;
}
#logo{
    width: 290px;
    height: 130px;
    float: left;
}
#logo img {
    width: 290px;
    height: 130px;
}
#search{
    margin: 20px 0px 0px 70px;
    width: 605px;
    height: 106px;
    float: left;
}
#search ul>li{
    float: left;
}

#search .search-input{
    width: 491px;
    height: 36px;
    outline: none;
    border: 2px #ff0036 solid;
    float: left;
}

#search .search-bottom{
    background: #ff0036;
    color: white;
    width: 110px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    float: right;
    cursor: pointer;
    letter-spacing: 6px;
    text-align: center;
    line-height: 40px;
}

#search .hot-query a{
    color: #ccc;
    font-size: 16px;
    padding: 0px 7px 0px 7px;
    border-right: 1px solid #ccc;
}

#search .hot-query li{
    margin-top: 8px;
}

#search .hot-query-red a{
    color:#ff0036;
}
#search .hot-query-first a{
    padding: 0px 7px 0px 0px;
}
#search .hot-query-last a{
    border: none;
}
/*search-logo结束*/


/*inner-con0开始*/
#inner-con0{
    width:100%;
    height: 36px;
}

#inner-con0 .category-type{
    width: 18.6%;
    height:36px;
    float: left;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    background: #ff0036;
    line-height: 36px;
    letter-spacing: 4px;
    text-align: center;

}

#inner-con0 .inner-con2
{   width:81.4%;
    height: 36px;
    float: right;
}

#inner-con0 .inner-list li
{
    float: left;
    font-size: 18px;
    margin-right: 15px;
    line-height: 36px;
    text-align: center;
}
#inner-con0 .inner-list li>img{
    width: 120px;
    height: 36px;
}
/*inner-con0结束*/

/*banner开始*/
#banner{
    width: 100%;
    height: 507px;
    background: #6e2ffd;
    border-top: 3px solid #ff0036;
}
#banner .wrapper{
    background: url("../img/banner.webp")no-repeat;

}

#banner .banner-nav li>a{
    color: white;
    font-size: 16px;
}

#banner  .banner-nav-list>li
{
    margin:0px 0px 4px 0px;
}

.banner-nav{
    width: 228.77px;

    background-color: rgba(0, 0, 0, 0.55);
    height: 100%;
}
/*banner结束*/